/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

button{
    background-color: transparent;
    border: none;
}

.slack-icon{
    /* background-color: red; */
    height: 1.5rem;
}

header{
    background-image: url(../images/background-singup.png);
    color: white;
    padding: 0 1rem;
}

h1, p, section{
    margin: 0;
}

section{
    padding: 2rem 1rem;
}

.yellow-txt{
    color: #ECB12F;
}

@media screen and (max-width: 768px){
    .menu-nav{
        background-color: #540B51;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
        height: 50px;
    }


    .list-nav{
        display: none;
    }


    h1{
        text-align: center;
    }

    .btn{
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: white;
        font-weight: bold;
        margin: .5rem 0;
    }

    .box-btn-google{
        display: flex;
        align-items: center;
    }

    .box-btn-google img{
        width: 3rem;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
    }

    .box-btn-google span{
        margin: 0 4rem;
    }

    .box-btn-google{
        padding: 0;
        background-color: #4285F4;
        color: white;
    }

    .btn-email{
        background-color: white;
        color: #540B51;
    }

    .section-logos{
        background-color: #F3EAE2;
        padding: 1rem;
    }

    .section-logos p{
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        /* margin: 1rem 0; */
    }

    .box-icons{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box-icons img{
        width: 90px;
        margin: 0 .8rem;
    }


    .section-info{
        text-align: center;

    }
    .section-info h3{
        color: #540B51;
        font-size: 2rem;

    }

    .section-info span{
        color: #540B51;
        font-size: 3rem;
        font-weight: bold;
    }

    .section-info p{
        font-weight: bold;
        margin-bottom: 1rem;
    }
    
    .section-info-txt{
        padding: 0 8rem;

    }

    .section-info ul{
        list-style: none;

    }

    .section-welcome{
        background-color: #540B51;
    }

    .section-welcome h3{
        color: white;
        text-transform: uppercase;
        text-align: center;
    }

    .reverse{
        border: 1px solid white;
        background-color: #540B51;
    }

    footer ul{
        list-style: none;
    }
};
